@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

.container {
    width: 100%;
    max-width: 1296px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.link-main {
    display: flex;
    justify-content: center;
}

.link-main a, .link-main-item a {
    display: inline-block;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 22px;
    text-decoration: none;
    color: #0057FF;
    border-bottom: 1px solid #0057FF;
    margin-top: 3.125rem;
}

/* header section*/

header {
    border-bottom: 1px solid #C3C3C3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bars-main {
    display: none;
}

form select {
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #C3C3C3;
}

form select option {
    color: black;
    padding: 8px 16px;
}

header ul {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
    margin-right: 2.8125rem;
}

.nav li:last-child {
    margin-right: 0;
}

.nav li a {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

form select i {
    color: #C3C3C3;
}

.social-networks li {
    list-style: none;
    margin-left: 1rem;
}

.social-networks li:first-child {
    margin-left: 2rem;
}

/* main home section */

.main-home {
    padding: 5.5rem 0;
}

.main-home-container {
    display: flex;
    align-items: center;
}

.main-home img {
    border-radius: 50%;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    margin-right: 5.5rem;
}

.main-home-content h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-home-content p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    margin-top: 0.75rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer section */

footer {
    background-color: #0B052F;
}

footer p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 25px;
    text-align: center;
    padding: 2rem 1.25rem;
    color: #FFFFFF;
}

footer p a {
    color: #fff;
}

/* media queries */
@media only screen and (max-width: 991px) {

    .nav {
        display: none;
    }

    .fa-bars {
        display: block;
        transform: scale(1.5);
        color: #1d1d1d;
    }

    .bars-main {
        position: relative;
        display: inline-block;
    }

    .bars {
        border: 0;
        padding: 1rem;
        border-radius: 10%;
        background-color: #FFFFFF;
    }
      
    .bars-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    .bars-content a {
        text-transform: capitalize;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .bars-content a:hover {
        background-color: #ddd;
    }
      
    .bars-main:hover .bars-content {
        display: block;
    }
      
    .bars-main:hover .bars {
        background-color: #ddd;
    }
    
}

@media only screen and (max-width: 767px) {

    .header-container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    footer p {
        padding: 1.75rem 1rem;
        font-size: 1rem;
    }
}


@media only screen and (max-width: 497px) {

    .header-container {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .fa-bars {
        transform: scale(1.5);
    }

    .language {
        font-size: 0.9rem;
    }

    .social-networks li {
        transform: scale(0.7);
        margin: 0;
    }

    footer p {
        padding: 1rem;
        font-size: 0.8rem;
    }
}
